# Network Algorithms
## PW1 - Working with Python and NetworkX
## Cities and Airports
### Author - Kamal Ahmadov, CS-020, kamal.ahmadov1@ufaz.az

## PW1

In [1]:
#necessary imports
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np

### Read files

In [2]:
cities = pd.read_csv("cities_in_az.csv")
cities

      Origin Destination  Hours
0       Alat        Baku   1.08
1       Baku        Alat   1.13
2       Alat     Shirvan   0.83
3    Shirvan        Alat   0.80
4    Imishli     Shirvan   1.42
5    Shirvan     Imishli   1.38
6   Shamakhi     Imishli   1.83
7    Imishli    Shamakhi   1.87
8   Shamakhi        Baku   1.67
9       Baku    Shamakhi   1.77
10  Shamakhi     Shirvan   1.45
11   Shirvan    Shamakhi   1.47
12   Shirvan    Kurdamir   1.20
13  Kurdamir     Shirvan   1.20
14  Kurdamir     Goychay   0.92
15   Goychay    Kurdamir   0.97
16  Shamakhi     Goychay   1.42
17   Goychay    Shamakhi   1.42

In [3]:
airports = pd.read_csv("airports.csv")
airports

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,AirTime,Origin,Dest,Distance
0,2008,1,3,4,2003.0,1955,2211.0,2225,116.0,IAD,TPA,810
1,2008,1,3,4,754.0,735,1002.0,1000,113.0,IAD,TPA,810
2,2008,1,3,4,628.0,620,804.0,750,76.0,IND,BWI,515
3,2008,1,3,4,926.0,930,1054.0,1100,78.0,IND,BWI,515
4,2008,1,3,4,1829.0,1755,1959.0,1925,77.0,IND,BWI,515
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2008,1,18,5,1206.0,1200,1713.0,1705,172.0,LAX,HOU,1390
49996,2008,1,18,5,807.0,810,1306.0,1315,170.0,LAX,HOU,1390
49997,2008,1,18,5,1834.0,1815,1933.0,1920,45.0,LAX,LAS,236
49998,2008,1,18,5,725.0,725,821.0,825,42.0,LAX,LAS,236
49999,2008,1,18,5,1507.0,1500,1610.0,1605,48.0,LAX,LAS,236